﻿@model LambdaForums.Models.Forum.ForumIndexModel
    <div class="container">
        <h1>Forums</h1>
        <table class="table table-hover " id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                                @forum.Name

                            </a>
                        </td>
                        <td>
                            @forum.Desciption
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>