﻿@model LambdaForums.Models.Forum.ForumTopicModel

    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">

                <span>@Model.Forum.Name Forum</span>
                @if (Context.User.Identity.IsAuthenticated)
            {
                    <span id="headingBtn">
                        <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">
                            Create Post
                        </a>
                    </span>
                }
                <form asp-controller="Forum" asp-action="Search" method="post">
                    <div class="searchForm">
                        <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
                        <button class="btn buttonSearch" type="submit">
                            <i class="material-icons"></i>
                        </button>
                    </div>
                    <input type="hidden" asp-for="Forum.Id" name="id" />
                </form>
            </div>
            <div class="sectionDescription">
                <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl)"></div>
                <p>Welcome to this @Model.Forum.Name: Please Keep posts friendly and on-topic</p>
                 @if (!User.Identity.IsAuthenticated)
                 {
                    <span>You be a registered member to create a new post</span>
                 }
            </div>
        </div>
        <div class="row forumIndexContent">
            @if(Model.Post.Any())
            {
                <table class="table table-hover table-bordered" id="forumIndexTable">
                    <tbody>
                        @foreach(var post in Model.Post)
                        {
                            <tr>
                                <td>
                                    <div class="postData">
                                        <div class="postTitle">
                                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.id">
                                                @post.Title
                                            </a>
                                        </div>
                                        <div class="forumSubTitle">
                                            <div>
                                                <span class="postAuthor">
                                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                        @post.Author
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forumPostCount">
                                        Replies: @post.RepliesCount
                                    </div>
                                </td>
                                <td>
                                    <div class="postDate">
                                        @post.DatePosted
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>

            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">
                        question_answer
                    </i>

                        <h3>
                            It looks like there are no posts to be found!
                        </h3>
                </div>

            }
        </div>
    </div>

@section Scripts {
    <script>
        function clearThis(target) {
            target.value = "";

        }
    </script>
}