﻿@using Microsoft.AspNetCore.Identity
@model LambdaForums.Models.ApplicationUser.ProfileModel
@inject UserManager<LambdaForums.Data.Models.ApplicationUser> UserManager


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            User Profile
        </div>
        @if(User.IsInRole("Admin"))
        {
            //
        }
        <div class="row userProfile">
            <div class="col-md-4">
                <div id="userProfileImage" style="background-image: url(@Model.ProfileImgageUrl)"></div>
                @if (User.Identity.Name == Model.UserName)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                        <div id="upload">
                            <label class="btn btn-default btn-file">
                                Browse <input type="file" name="file" value="" style="display: none"/>

                            </label>
                        </div>
                        <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                    </form>

                }
            </div>
        </div>
        <div class="col-md-8">
            <span id="userName">@Model.UserName</span>
            @if (@Model.IsAdmin)
            {
                <span class="isAdmin">Admin</span>

            }
            <span id="userRating">Current Rating @Model.UserRating</span>
            <span id="userEmailLabel">Email @Model.Email</span>
            <span id="userCreatedLabel">Member since: @Model.MemberSince</span>

        </div>   
    </div>
</div>