﻿@model LambdaForums.Models.Search.SearchResultModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">

            
            <span>Search Results for: @Model.SeachQuery</span>
            <form asp-controller="Search" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SeachQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
                    <button class="btn buttonSearch" type="submit">
                        <i class="material-icons"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (Model.posts.Any())
        {
            <table class="table table-hover table-bordered" id="searchIndexTable">
                <tbody>
                    @foreach (var post in Model.posts)
                    {
                        <tr>
                            <td>
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl)">

                                </div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.id">
                                            @post.Title
                                        </a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            by:
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.Author
                                                </a>
                                                (@post.AurthorRating)
                                            </span>
                                            in: 
                                            <span class="postForum">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id">
                                                    @post.Forum.Name
                                            </a>
                                        </span>
      
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Replies: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">
                                    @post.DatePosted
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">
                    question_answer
                </i>

                <h3>
                    It looks like there are no posts to be found!
                </h3>
            </div>

        }
    </div>
</div>

@section Scripts {
    <script>
        function clearThis(target) {
            target.value = "";

        }
    </script>
}