﻿@model LambdaForums.Models.Home.HomeIndexModel

<div class="body-content">
    <div class="container">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">
                Learn, Collaborate, Share Knowledge
             </div>
                <p class="frontPageSubHeading">
                    Tom's Forums is the world's fastest growing coding forum
                </p>
                <div>
                    <form asp-controller="Search" asp-action="search" method="post">
                        <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search"/>
                    </form>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
        <div class="row frontPageContent">
            <div class="container">

                <h3 id="lastestPost">Lastest Posts</h3>
                <table id="lastestPostsTable" class="table table-hover">
                    <tbody>
                        @foreach (var post in Model.LastestPosts)
                        {
                            <tr>
                                <td>
                                    <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl); background-size=100%"></div>
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.id">
                                            @post.Title
                                        </a>
                                    </div>
                                    <div class="postSubTitle">
                                        @if (post.RepliesCount == 1)
                                        {
                                            <span>@post.RepliesCount Reply</span>

                                        }
                                        @if (post.RepliesCount == 0)
                                        {
                                            <span>No Replies</span>

                                        }
                                        else
                                        {

                                            <span>@post.RepliesCount Replies</span>
                                        }
                                        <span class="postUser">
                                            <a asp-controller="profile"
                                               asp-action="Detail"
                                               asp-route-id="@post.AuthorId">
                                                @post.Author
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>