﻿@model LambdaForums.Models.Post.PostIndexModel




<div class="container body-content">
    <div class="container">
        <div class="row postHeader">
            <div class="postHeading">
                <span class="postIndexTitle">
                    @Model.Title
                </span>
                <span id="headingBtn">
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
                </span>
            </div>
        </div>
    </div>

    <div class="container">

        <div id="postIndexContent" class="row">
            <div class="col-md-3 postAuthorContainer">
                <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl);"></div>
                <a asp-controller="Pofile" asp-action="Detail" asp-route-id="@Model.AurthorId">
                    @Model.AuthorName
                </a>
                <span class="postData">@Model.Created</span>
                @if (Model.isAuthorAdmin)
            {
                    <span class="isAdmin smaller">Admin</span>

                }

            </div>
            <div class="col-md-9 postContentContainer">
                <div class="postContent">
                    @Html.Raw(Model.PostContent)
                </div>
            </div>
        </div>
    </div>

    <div id="replyDivider" class="row"></div>
    <div class="container">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <span>
                    <a asp-controller="Reply" asp-action="Create" asp-routeid="@Model.Id" class="btn btn-newReply">
                        Post reply
                    </a>
                </span>
            </div>
        }

        @if (Model.Replies.Any())
        {
            foreach (var reply in Model.Replies)
            {
                <div class="row replyContent">
                    <div class="col-md-3 replyAuthorContainer">
                        <div class="postAthorImage" style="background-image: url(@reply.AuthorImageUrl)"></div>
                        <a asp-controller="Profile" asp-action="Detail" asp-routeid="@reply.AurthorId" class="btn btn-newReply">
                            Post reply
                        </a>
                        @if (reply.isAuthorAdmin)
                    {
                            <div class="isAdmin smaller">Admin</div>
                            <br />

                        }
                        <span>@reply.Created</span>

                    </div>
                    <div class="col-md-9 replyContentContainer">
                        <div class="postContent">
                            @Html.Raw(reply.ReplyContent)
                        </div>

                    </div>
                </div>

            }
        }
        else
        {
            <div class="noPosts">
                <h3>
                    There are no Replies to this post!
                </h3>
            </div>
        }
    </div>

</div>
